<!DOCTYPE html>
 <html>
   <head>
    <title>Feedback</title>
   </head>


  <body style="background-color: #DCDCDC;font-family:arial;font-size:25px">
 

   <form method="post">
     <h2>********Your Feedback********</h2>
     <br>
      <textarea name="feed" style="color:red;height:200px;width:500px;"></textarea>
     <br><br>

      <input type="submit" value="send">


<style>
  .logoutlink{
		position: absolute;
		top: 5px;
		right: 300px;
		color: blue
	    }
  </style>
  

 
 

  <style>
  .homelink{
		position: absolute;
		top: 5px;
		right: 20px;
		color: blue
	    }
  </style>
  


     <a class= "logoutlink" href="/logout">logout({{username}})</a>


   <a class= "homelink" href="/">Home</a>

  </form>
  </body>
  </html>
  


  